/* babacar mboup */

.photoContainer {
  width: 100%;
  height: 30vh;
  background: url('/image/mediatique/11.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}

.photoContainer h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container02 {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.container02 .row .col {
  background-color: white;
  height: 60px;
  border-radius: 10px;
}

.container02 .row {
  height: auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.container02 .row .item {
  border-radius: 10px;
}

.sectionDonnees {
  width: 100%;
  height: 60vh;
}
.sectionDonnees img {
  width: 100%;
  height: 100%;
}

/* style pour le documentation general  */
.sectionDocumentations {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 30px 60px;
  gap: 50px;
}

.sectionDocumentations .items1 {
  width: 40%;
}
.sectionDocumentations .item {
  box-shadow: 0 0 8px rgb(223, 223, 223);
  height: 60px;
}

.sectionDocumentations .item p {
  margin: 0;
  font-size: 14px;
}

.sectionDocumentations .items2 {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sectionPagination {
  width: 100%;
}
a {
  text-decoration: none;
}

/* babacar mboup */
